<footer class="container">
  <a href="#header">
    <div class="container__scroll">
      <img src="./assets/images/ico-arrow.svg" alt="scroll-a" />
    </div>
  </a>
  <ul class="container__box">
    <li><a href="https://adalab.es">Articles</a></li>
    <li><a href="https://adalab.es">Books</a></li>
    <li><a href="https://adalab.es">Events</a></li>
    <li><a href="https://adalab.es">Reason</a></li>
    <li><a href="https://adalab.es">Tips</a></li>
  </ul>
  <ul class="container__box2">
    <li><a href="https://adalab.es">Twitter</a></li>
    <li><a href="https://adalab.es">Instagram</a></li>
    <li><a href="https://adalab.es">Mastodon.social</a></li>
  </ul>
  <p class="container__box3">&copy;2021</p>
  <p>We <i class="container__heart fas fa-heart"></i> components</p>
</footer>
