<footer class="link-footer">
  <a href="#hero">
    <div class="link-footer__scroll">
      <img
        class="scrool-1"
        src="./assets/images/ico-arrow.svg" title="Scroll"
        alt="scroll-a"
      />
    </div>
  </a>

  <nav class="link-footer__nav">
    <ul class="link-footer__ulink">
      <li><a class="block1" href="https://adalab.es">Books</a></li>
      <li><a class="block1" href="https://adalab.es">Events</a></li>
      <li><a class="block1" href="https://adalab.es">Reason</a></li>
      <li><a class="block1" href="https://adalab.es">Tips</a></li>
      <li><a class="block1" href="https://adalab.es">Articles</a></li>
    </ul>
  </nav>

  <nav class="link-footer__nav">
    <ul class="link-footer__ulink">
      <li><a class="block1" href="https://adalab.es">Twitter</a></li>
      <li><a class="block1" href="https://adalab.es">Instagram</a></li>
      <li><a class="block1" href="https://adalab.es">Mastodon.social</a></li>
    </ul>
  </nav>

  <div class="link-footer__copy">
    <p class="copy">&copy;2021</p>
    <p>We <i class="link-footer__heart fas fa-heart"></i> components</p>
  </div>
</footer>
