<header class="hero" id="hero">
  <nav class="hero__fixedMenu">
    <a href="https://adalab.es/">
      <img src="./assets/images/ico-menu.svg" alt="menu" title="imagen" />
    </a>
  </nav>
  <h1 class="hero__title">Anonymous proxy</h1>
  <p class="hero__subtitle">In hac habitasse platea dictumst.</p>

  <a href="#purchase">
    <div class="hero__scrolldown">
      <img
        class="images"
        src="./assets/images/ico-scroll-down.svg"
        alt="scrolldown"
        title="Scroll"
      />
    </div>
  </a>
</header>
