<main class="main">
  <section class="section1">
    <div class="div">Insommia Tips</div>
    <section class="looking">
      <h2>Looking Through A Window</h2>
    </section>
    <section class="text">
      <p>
        Donec accusam, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
    </section>
    <section>
      <small class="go">Go</small>
    </section>
  </section>
  <section class="section2">
    <h2>Reason To Purchase</h2>
    <article>
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit, amet consectetur</p>
    </article>
    <article>
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </article>

    <article>
      <h3>Morbi dictum</h3>
      <p>Aliquan in dolor et dolor tincidunt.</p>
      More Reason
    </article>
  </section>
</main>
