<main class="main">
  <section class="looking">
    <span class="looking__label">Insommia Tips</span>
    <h2 class="looking__title">looking through a window</h2>
    <p class="looking__text">
      Donec accusam, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <a class="looking__button" href="https://adalab.es">go </a>
  </section>
  <section class="section" id="purchase">
    <h2 class="section__title">Reason To Purchase</h2>
    <h3 class="section__subtitle1">Ut sed metus</h3>
    <p class="section__lorem">Lorem ipsum dolor sit, amet consectetur</p>
    <h3 class="section__subtitle2">Curabitur ac erat</h3>
    <p>Mauris mattis urna quis lorem molestie.</p>
    <h3 class="section__subtitle3">Morbi dictum</h3>
    <p>Aliquan in dolor et dolor tincidunt.</p>
    <a class="section__button2" href="https://adalab.es">more reason </a>
  </section>
</main>
