<section class="reason" id="purchase">
  <h2 class="reason__title">3 Reason To Purchase</h2>

  <article class="reason__article1">
    <h3 class="reason__subtitle">Ut sed metus</h3>
    <p class="reason__p">Lorem ipsum dolor sit amet, consectetur.</p>
  </article>

  <article class="reason__article2">
    <h3 class="reason__subtitle">Curabitur ac erat</h3>
    <p class="reason__p">Mauris mattis urna quis lorem molestie.</p>
  </article>

  <article class="reason__article3">
    <h3 class="reason__subtitle">Morbi dictum</h3>
    <p class="reason__p">Aliquam in dolor et dolor tincidunt.</p>
  </article>

  <nav class="reason__sectionbutton">
    <a href="https://adalab.es" class="reason__button" title="links">
      more reason
    </a>
  </nav>
</section>
