// fonts
$font-main: "Roboto", sans-serif;
$font-title: "Roboto Slab", serif;

// colors
$color-title: white;
$color-bg-menu: #0271bc;
$color-label: #8ccbea;
$color-bg-label: #000000;
$color-gr-label: #4a4a4a;
$color-go: #f26002;
$color-footer-text: white;
$color-heart: #f26002;
$color-bg-purchase: #eff9ff;
