.footer {
  height: 29rem;
  background-color: #304268;
  font-family: $font-main;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: $color-footer-text;
  position: relative;
  padding-top: 3.75rem;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    height: 15rem;
    padding-left: 2.4rem;
  }

  @media all and (min-width: 1120px) {
    padding-left: 23.125rem;
    padding-right: 23.125rem;
  }

  &__scroll {
    background-color: $color-title;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
  }

  &__scroll img {
    width: 1.2rem;
  }

  & a {
    text-decoration: none;
    color: $color-footer-text;
    transition: ease-in-out 0.3s;
    &:hover {
      color: $color-go;
      text-decoration: underline;
    }
  }

  &__ul {
    font-family: $font-main;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.88rem;
    list-style: none;
  }

  &__nav {
    flex-grow: 1;
    padding-bottom: 1.8rem;

    @media all and (min-width: 768px) {
      padding-top: 0;
    }
  }

  &__copy {
    margin-bottom: 1.2rem;
    flex-grow: 1;

    @media all and (min-width: 768px) {
      order: -1;
    }
  }

  &__heart {
    padding-top: 1rem;
    color: $color-heart;
  }
}
