.hero {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;

  &__fixedMenu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-bg-menu;
    height: 2.7rem;
    width: 2.7rem;
    padding: 0.98rem 0.87rem;
  }

  &__title {
    color: $color-title;
    padding: 0 0 0.6rem 0.98rem;
    font-family: $font-title;
    font-weight: 25rem;
    font-size: 2.6rem;
    text-transform: uppercase;
    word-spacing: 100vw;

    @media all and (min-width: 768px) {
      font-size: 5rem;
    }

    @media all and (min-width: 1120px) {
      font-size: 6.25rem;
    }
  }

  &__subtitle {
    color: $color-title;
    font-size: 1rem;
    font-family: $font-main;
    font-weight: 25rem;
    text-align: center;
    justify-content: center;
    text-align: center;

    @media all and (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  &__scrolldown {
    background-color: $color-title;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2.8rem;
    margin-bottom: 3.313rem;

    &:hover {
      border: 0.125rem solid #f26002;
    }

    & img {
      width: 1.2rem;
    }

    @media all and (min-width: 768px) {
      margin-bottom: 2.813rem;
    }
  }
}
