.reason {
  background-color: $color-bg-purchase;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr repeat(4, 2fr);
  text-align: center;
  align-items: center;

  @media all and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 2fr;
  }

  &__title {
    font-family: $font-title;
    font-size: 1.5rem;
    padding-top: 1.8rem;
    grid-row-start: 1;

    @media all and (min-width: 768px) {
      grid-column: 1/4;
    }

    @media all and (min-width: 1120px) {
      font-size: 1.625rem;
    }
  }

  &__article1 {
    grid-row-start: 2;
    justify-self: center;

    @media all and (min-width: 768px) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }

  &__article2 {
    grid-row-start: 3;
    justify-self: center;

    @media all and (min-width: 768px) {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }

  &__article3 {
    grid-row-start: 4;
    justify-self: center;

    @media all and (min-width: 768px) {
      grid-column: 3/4;
      grid-row: 2/3;
    }
  }

  &__sectionbutton {
    grid-row-start: 5;
    justify-self: center;
    align-self: center;
    margin-bottom: 3.7rem;

    @media all and (min-width: 768px) {
      grid-column: 1/4;
      grid-row: 3/4;
    }
  }

  &__button {
    background-color: #f26002;
    border: 0.12rem solid #f26002;
    border-radius: 1.3rem;
    width: 11.5rem;
    height: 2.8rem;
    margin-top: 1rem;

    // TODO revisar si esta bien poner flex a un enlace
    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: capitalize;
    font-family: $font-main;
    font-weight: normal;
    color: white;
    font-size: 1.25rem;
    text-decoration: none;

    &:hover {
      background-color: white;
      color: #f26002;
    }

    @media all and (min-width: 768px) {
      width: 13.125rem;
      // margin-top: 3.75rem;
    }

    @media all and (min-width: 1120px) {
      width: 15.938rem;
    }
  }

  &__subtitle {
    font-family: $font-title;
    font-size: 1.12rem;
  }

  &__p {
    font-family: $font-main;
    font-size: 1.12rem;
    width: 11.25rem;
  }
}
