.looking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 18.125rem;

  @media all and (min-width: 768px) {
    width: 43.125rem;
  }

  @media all and (min-width: 1120px) {
    width: 45.625rem;
  }

  &__label {
    color: $color-label;
    padding-top: 1.87rem;
    font-family: $font-main;
    font-weight: normal;
    font-size: 0.875rem;

    @media all and (min-width: 1120px) {
      font-size: 1rem;
    }
  }

  &__title {
    color: $color-bg-label;
    font-family: $font-title;
    font-weight: normal;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1rem;
    margin-bottom: 0.94rem;
    text-transform: capitalize;

    @media all and (min-width: 768px) {
      margin-bottom: 1.875rem;
      font-size: 1.62rem;
    }

    @media all and (min-width: 1120px) {
      font-size: 2rem;
    }
  }

  &__text {
    color: $color-gr-label;
    font-family: $font-main;
    margin-right: 0.94rem;
    font-size: 1.12rem;
    font-weight: normal;

    @media all and (min-width: 768px) {
      font-size: 1.25rem;
    }
  }

  &__button {
    font-family: $font-main;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.25rem;
    text-decoration: none;
    color: $color-go;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 0.125rem solid #f26002;
    border-radius: 1.3rem;
    width: 4.75rem;
    height: 45px;
    padding-top: 0;
    margin-top: 1.875rem;
    margin-bottom: 2.8rem;

    @media all and (min-width: 768px) {
      width: 5.688rem;
    }

    @media all and (min-width: 1120px) {
      width: 10rem;
    }

    &:hover {
      color: white;
      background-color: (#f26002);
    }
  }
}
